
# This is a basic workflow to help you get started with Actions

name: Publish

# Controls when the action will run.
on:
  # Triggers the workflow on push or pull request events but only for the main branch
  push:
    branches: [ main ]


# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  publish:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v2
      - name: git config
        run: |
         git config --global user.name GitHub Actions[Bot]
         git config --global user.email 41898282+github-actions[bot]@users.noreply.github.com

      - name: Repository Prerequisites
        run: |
          git checkout main
          git pull
      # Runs a single command using the runners shell
      - name: install requirements
        run: |
          pip3 install -r requirements.txt
      # Runs a set of commands using the runners shell
      - name: publish
        run: |
          make github
